@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: "FONTSpringDemo";
  src: url("/public/fonts/frink-rio/FONTSpringDemo.woff") format("woff")
    url("/public/fonts/frink-rio/FONTSpringDemo.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("/public//fonts/gotham/GothamMedium.ttf") format("ttf"),
    url("/public/fonts/gotham/GothamMedium_1.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("/public//fonts/gotham/GothamMedium.ttf") format("ttf"),
    url("/public/fonts/gotham/GothamMedium_1.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "DejaVu Sans";
  src: url("/public/fonts/gotham/dejavu-sans.woff2") format("woff2"),
    url("/public/fonts/gotham/dejavu-sans.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  );
  /* rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .vertical-line::after {
  position: absolute;
  content: "";
  width: 10px;
  right: 0;
  height: 100%;
    background:
      repeating-linear-gradient(to bottom,transparent 3 6px,black 2px 10px) 100% 100% no-repeat;
} */

/* .vertical-line{
border-right: 1px dashed black;
border-right-width: 10px;
border-right-style: calc(--background-start-rgb);
} */

.cs-border {
  border: 10px solid transparent;
  /* padding: 15px; */
  border-image: url("/test/border.png") 2% repeat;
  /* border-image-slice: 50; */
  border-image-width: 10px;
  /* border-image-slice: 2fr; */
  /* border-image-repeat: repeat; */
}
.swiper-button-prev {
  z-index: 150;
}
.swiper-button-next {
  z-index: 150;
  cursor: pointer;
}

/* chat side bar */
#scroll-chat::-webkit-scrollbar-track {
  background-color: #2b2d31;
}
c #scroll-chat::-webkit-scrollbar-thumb {
  background-color: #2b2d31;
  height: 2px;
}
#scroll-chat::-webkit-scrollbar {
  width: 2px;
  height: 8px;
  background-color: #2b2d31;
}

#scroll-chat::-webkit-scrollbar-thumb {
  background-color: #2b2d31;
  height: 2px;
}

#scroll-chat:hover::-webkit-scrollbar-thumb {
  background-color: white;
}
/* chat side bar */

/* user side bar */
#scroll-1 {
  overflow-x: hidden;
  overflow-y: auto;
}
#scroll-1::-webkit-scrollbar-track {
  background-color: #092c4c;
}
#scroll-1::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
  height: 2px;
}
#scroll-1::-webkit-scrollbar {
  width: 2px;
  height: 8px;
  background-color: #092c4c;
}
#scroll-1::-webkit-scrollbar-thumb {
  background-color: #092c4c;
  height: 2px;
}

#scroll-1:hover::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
}
/* user side bar */

/* layout right side bar */
#scroll-right::-webkit-scrollbar-track {
  background-color: white;
}
#scroll-right::-webkit-scrollbar-thumb {
  background-color: #092c4c;
  height: 8px;
}
#scroll-right::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

.selectImage {
  -webkit-box-shadow: 0.6px 6px 9px -2px rgba(196, 195, 192, 1);
  -moz-box-shadow: 0.6px 6px 9px -2px rgba(196, 195, 192, 1);
  box-shadow: 0.6px 6px 9px -2px rgba(196, 195, 192, 1);
}

/* Layout Right side bar */
